/* App.css */
.full-size-container {
  background-color: inherit;
  color: inherit;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
